/*Colo de fondo del body para el 404*/
.background404 {
    background-color: #614344;
}

/*Ajuste al div*/
.ajusteDiv404 {
    padding-left: 20%;
}

body div {
    h6 {
    padding-top: 2%;
    }
    h2 span {
        font-size: 45%;
    }
}