/*Propiedad y ajustes de encales de Shops*/
.ajusteMainShops {
    padding: 15%;
    div {
        align-items: center;
        div div a {
            color: #ffffff;
            text-decoration: none;
            font-size: 200%;
        }
    }
}