/*Reset css*/
* {
    margin: 0;

}

/*Color de fondo de páginas*/
.backgroundBody {
    background-color: #FAB2EA;
}

/* Variables */
@import "_variables.scss";
/*Para los modelos*/
@import "_mens.scss";
/* Estilos Shops */
@import "_shops.scss";
/* Estilos SignIn */
@import "_signin.scss";
/* Estilos Modelo 1 */
@import "_shoemen.scss";
/* Estilos Error 404 */
@import "_404.scss";

/*Fondo para el footer*/
.fondoFooter {
    background-image: url(../assets/pie_pagina_morado.png);
}

/* El index */
body {

    header nav {
        /*Fondo de la Nav*/
        background-color: #614344;

        .textNav {
            /* Color de texo de la Nav */
            color: #ffffff;
        }

        div a {
            /* El contenedor de los iconos de la nav */
            width: 5%;
        }
    }

    .claseImagenPortada {
        /*Ajustando la futura sección*/
        width: 100%;
    }

    footer {
        .claseIconosPortada {
            /*Ajuste iconos del footer*/
            padding-top: 10%;
            width: 12%;
        }

        .backTop {
            /*Ajuste para el icono de back to top*/
            width: 50%;
            padding-top: 0%;
        }

        div {
            /*Propiedad para la letra Copyright*/
            color: #ffffff;
            font-size: 130%;
            font-family: $Roboto;
            text-shadow: 2px 2px 4px #000000ab;
        }
    }
}